In [1]:
import pandas as pd
import numpy as np

In [46]:
print('Reading files...')

train_raw_df = pd.read_csv('train.csv')
print('Shape of train.csv:', train_raw_df.shape)

test_raw_df = pd.read_csv('test.csv')
print('Shape of test.csv:', test_raw_df.shape)

y_test = pd.read_csv('gender_submission.csv')['Survived']
print('Shape of gender_submission.csv:', y_test.shape)

Reading files...
Shape of train.csv  (891, 12)
Shape of test.csv (418, 11)
Shape of gender_submission.csv:  (418,)

Combine both train and test data to easy feature engineering and transformation

In [49]:
data = train_raw_df.append(test_raw_df, sort=False)

In [54]:
print(data.info())
print('\nHead of data:\n', data.head())
print('\n\nTail of data:\n', data.tail())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
PassengerId    1309 non-null int64
Survived       891 non-null float64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB
None

Head of data:
    PassengerId  Survived  Pclass  \
0            1       0.0       3
1            2       1.0       1
2            3       1.0       3
3            4       1.0       1
4            5       0.0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S


Tail of data:
      PassengerId  Survived  Pclass                          Name     Sex  \
413         1305       NaN       3            Spector, Mr. Woolf    male
414         1306       NaN       1  Oliva y Ocana, Dona. Fermina  female
415         1307       NaN       3  Saether, Mr. Simon Sivertsen    male
416         1308       NaN       3           Ware, Mr. Frederick    male
417         1309       NaN       3      Peter, Master. Michael J    male

      Age  SibSp  Parch              Ticket      Fare Cabin Embarked
413   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  39.0      0      0            PC 17758  108.9000  C105        C
415  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416   NaN      0      0              359309    8.0500   NaN        S
417   NaN      1      1                2668   22.3583   NaN        C

In [66]:
# Find out missing data
null_total = data.isnull().sum().sort_values(ascending=False)
null_percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
data_null = pd.concat([null_total, null_percent], axis=1, keys=['Total', 'Percent'])
data_null.head(6)

          Total   Percent
Cabin      1014  0.774637
Survived    418  0.319328
Age         263  0.200917
Embarked      2  0.001528
Fare          1  0.000764
Ticket        0  0.000000

In [6]:
import re
# Extract title from name (e.g.'Mr.' from 'Kelly, Mr. James')
def get_title_from_name(name):
    searchObj = re.search(r'\, ([a-zA-Z])+\. ', name, re.I)
    if searchObj and searchObj.group() and len(searchObj.group())>1:
        title = searchObj.group()[1:].strip()  # Extract 'Mr.' from ', Mr. '
        if title in ['Mr.', 'Miss.', 'Master.', 'Ms.', 'Dr.', 'Mrs.', 'Col.', 'Dona.', 'Rev.']:
            return title
    return np.NaN

def feat_eng_title(df):
    column_name = 'Title'
    column_value = df['Name'].apply(lambda x: get_title_from_name(x))
    
    if column_name in df.columns:
        df = df.drop(column_name, axis=1).reset_index(drop=True)
    
    df.insert(loc=2, column=column_name, value=column_value, allow_duplicates=False)
    return df
    
# data['Title'] = data['Name'].apply(lambda x: get_title_from_name(x))

# data = feat_eng_title(data)
# data.head()

In [7]:
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if str(big_string).find(substring) != -1:
            return substring
    return np.nan

def feat_eng_deck(df):
    deck_list = ['A','B','C','D','E','F','G']
#     df['Deck'] = df['Cabin'].apply(lambda x: substrings_in_string(x, deck_list))
    
    column_name = 'Deck'
    column_value = df['Cabin'].apply(lambda x: substrings_in_string(x, deck_list))
    
    if column_name in df.columns:
        df = df.drop(column_name, axis=1).reset_index(drop=True)
    
    df.insert(loc=11, column=column_name, value=column_value, allow_duplicates=False)    
    return df
    
# data['Cabin'][data['Cabin'].notnull()]
# deck_list = ['A','B','C','D','E','F','G']
# data['Deck'] = data['Cabin'].apply(lambda x: substrings_in_string(x, deck_list))

# data = feat_eng_deck(data)
# data[['Deck', 'Cabin']][data['Cabin'].notnull()]

In [8]:
#Creating new family_size column
def feat_eng_family_size(df):
#     df['Family_Size'] = df['SibSp'] + df['Parch']
    column_name = 'Family_Size'
    column_value = df['SibSp'] + df['Parch']
    
    if column_name in df.columns:
        df = df.drop(column_name, axis=1).reset_index(drop=True)
        
    df.insert(loc=8, column=column_name, value=column_value, allow_duplicates=False)    
    return df

# data['Family_Size'] = data['SibSp'] + data['Parch']

# data = feat_eng_family_size(data)
# data

In [9]:
from sklearn import preprocessing

def convert_str_to_int(df):
    string_columns = ['Title', 'Name', 'Sex', 'Ticket', 'Cabin', 'Deck', 'Embarked']
    for column in string_columns:
        df[column] = preprocessing.LabelEncoder().fit_transform(df[column].astype(str))
    return df

In [30]:
def feat_eng_all(df):
    df = feat_eng_title(df)
    df = feat_eng_deck(df)
    df = feat_eng_family_size(df)
    df = convert_str_to_int(df)
    df['Age'] = np.nan_to_num(df['Age'])
    df['Fare'] = np.round(np.nan_to_num(df['Fare']), decimals = 0).astype('int64')
    return df

X_train = feat_eng_all(data.drop('Survived', axis=1))
y_train = data['Survived']
print('X_train info:\n{}'.format(X_train.info()))
print('\nX_train head:\n{}'.format(X_train.head(50)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Title          891 non-null int64
Name           891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Family_Size    891 non-null int64
Ticket         891 non-null int64
Fare           891 non-null int64
Cabin          891 non-null int64
Deck           891 non-null int64
Embarked       891 non-null int64
dtypes: float64(1), int64(13)
memory usage: 97.5 KB
X_train info:
None

X_train head:
    PassengerId  Pclass  Title  Name  Sex   Age  SibSp  Parch  Family_Size  \
0             1       3      4   108    1  22.0      1      0            1
1             2       1      5   190    0  38.0      1      0            1
2             3       3      3   353    0  26.0      0      0            0
3             4       1      5   272    0  35.0      1      0            1
4             5       3      4    15    1  35.0      0      0            0
5             6       3      4   554    1   0.0      0      0            0
6             7       1      4   515    1  54.0      0      0            0
7             8       3      2   624    1   2.0      3      1            4
8             9       3      5   412    0  27.0      0      2            2
9            10       2      5   576    0  14.0      1      0            1
10           11       3      3   727    0   4.0      1      1            2
11           12       1      3    95    0  58.0      0      0            0
12           13       3      4   729    1  20.0      0      0            0
13           14       3      4    28    1  39.0      1      5            6
14           15       3      3   840    0  14.0      0      0            0
15           16       2      5   359    0  55.0      0      0            0
16           17       3      2   682    1   2.0      4      1            5
17           18       2      4   867    1   0.0      0      0            0
18           19       3      5   839    0  31.0      1      0            1
19           20       3      5   512    0   0.0      0      0            0
20           21       2      4   273    1  35.0      0      0            0
21           22       2      4    80    1  34.0      0      0            0
22           23       3      3   523    0  15.0      0      0            0
23           24       1      4   765    1  28.0      0      0            0
24           25       3      3   626    0   8.0      3      1            4
25           26       3      5    44    0  38.0      1      5            6
26           27       3      4   240    1   0.0      0      0            0
27           28       1      4   260    1  19.0      3      2            5
28           29       3      3   605    0   0.0      0      0            0
29           30       3      4   813    1   0.0      0      0            0
30           31       1      8   828    1  40.0      0      0            0
31           32       1      5   776    0   0.0      1      0            1
32           33       3      3   289    0   0.0      0      0            0
33           34       2      4   856    1  66.0      0      0            0
34           35       1      4   535    1  28.0      1      0            1
35           36       1      4   372    1  42.0      1      0            1
36           37       3      4   505    1   0.0      0      0            0
37           38       3      4   134    1  21.0      0      0            0
38           39       3      3   837    0  18.0      2      0            2
39           40       3      3   589    0  14.0      1      0            1
40           41       3      5     7    0  40.0      1      0            1
41           42       2      5   827    0  27.0      1      0            1
42           43       3      4   446    1   0.0      0      0            0
43           44       2      3   456    0   3.0      1      2            3
44           45       3      3   212    0  19.0      0      0            0
45           46       3      4   697    1   0.0      0      0            0
46           47       3      4   473    1   0.0      1      0            1
47           48       3      3   604    0   0.0      0      0            0
48           49       3      4   726    1   0.0      2      0            2
49           50       3      5    38    0  18.0      1      0            1

    Ticket  Fare  Cabin  Deck  Embarked
0      523     7    147     7         2
1      596    71     81     2         0
2      669     8    147     7         2
3       49    53     55     2         2
4      472     8    147     7         2
5      275     8    147     7         1
6       85    52    129     4         2
7      395    21    147     7         2
8      344    11    147     7         2
9      132    30    147     7         0
10     616    17    145     6         2
11      38    27     49     2         2
12     535     8    147     7         2
13     333    31    147     7         2
14     413     8    147     7         2
15     153    16    147     7         2
16     480    29    147     7         1
17     151    13    147     7         2
18     301    18    147     7         2
19     184     7    147     7         0
20     139    26    147     7         2
21     152    13    111     3         2
22     278     8    147     7         1
23      42    36     13     0         2
24     395    21    147     7         2
25     329    31    147     7         2
26     179     7    147     7         0
27      95   263     63     2         2
28     283     8    147     7         1
29     362     8    147     7         2
30     598    28    147     7         0
31     586   147     41     1         0
32     288     8    147     7         1
33     549    10    147     7         2
34     600    82    147     7         0
35      43    52    147     7         2
36     202     7    147     7         0
37     514     8    147     7         2
38     302    18    147     7         2
39     186    11    147     7         0
40     507     9    147     7         2
41      53    21    147     7         2
42     391     8    147     7         0
43     634    42    147     7         0
44     282     8    147     7         1
45     617     8    147     7         2
46     462    16    147     7         1
47      76     8    147     7         1
48     190    22    147     7         0
49     377    18    147     7         2

In [38]:
X_test = feat_eng_all(pd.read_csv('test.csv'))
y_test = pd.read_csv('gender_submission.csv')['Survived']
print('X_test info:\n{}'.format(X_test.info()))
print('\nX_test head:\n{}'.format(X_test.head(50)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 14 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Title          418 non-null int64
Name           418 non-null int64
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Family_Size    418 non-null int64
Ticket         418 non-null int64
Fare           418 non-null int64
Cabin          418 non-null int64
Deck           418 non-null int64
Embarked       418 non-null int64
dtypes: float64(1), int64(13)
memory usage: 45.8 KB
X_test info:
None

X_test head:
    PassengerId  Pclass  Title  Name  Sex   Age  SibSp  Parch  Family_Size  \
0           892       3      5   206    1  34.5      0      0            0
1           893       3      6   403    0  47.0      1      0            1
2           894       2      5   269    1  62.0      0      0            0
3           895       3      5   408    1  27.0      0      0            0
4           896       3      6   178    0  22.0      1      1            2
5           897       3      5   366    1  14.0      0      0            0
6           898       3      4    84    0  30.0      0      0            0
7           899       2      5    57    1  26.0      1      1            2
8           900       3      6     4    0  18.0      0      0            0
9           901       3      5   103    1  21.0      2      0            2
10          902       3      5   187    1   0.0      0      0            0
11          903       1      5   196    1  46.0      0      0            0
12          904       1      6   352    0  23.0      1      0            1
13          905       2      5   184    1  63.0      1      0            1
14          906       1      6    69    0  47.0      1      0            1
15          907       2      6   415    0  24.0      1      0            1
16          908       2      5   204    1  35.0      0      0            0
17          909       3      5    21    1  21.0      0      0            0
18          910       3      4   188    0  27.0      1      0            1
19          911       3      6    20    0  45.0      0      0            0
20          912       1      5   324    1  55.0      1      0            1
21          913       3      3   284    1   9.0      0      1            1
22          914       1      6   138    0   0.0      0      0            0
23          915       1      5   406    1  21.0      0      1            1
24          916       1      6   329    0  48.0      1      3            4
25          917       3      5   318    1  50.0      1      0            1
26          918       1      4   288    0  22.0      0      1            1
27          919       3      5    97    1  22.5      0      0            0
28          920       1      5    44    1  41.0      0      0            0
29          921       3      5   339    1   0.0      2      0            2
30          922       2      5   236    1  50.0      1      0            1
31          923       2      5   190    1  24.0      2      0            2
32          924       3      6   109    0  33.0      1      2            3
33          925       3      6   195    0   0.0      1      2            3
34          926       1      5   264    1  30.0      1      0            1
35          927       3      5   203    1  18.5      0      0            0
36          928       3      4   323    0   0.0      0      0            0
37          929       3      4    55    0  21.0      0      0            0
38          930       3      5   342    1  25.0      0      0            0
39          931       3      5   170    1   0.0      0      0            0
40          932       3      5   202    1  39.0      0      1            1
41          933       1      5   148    1   0.0      0      0            0
42          934       3      5   158    1  41.0      0      0            0
43          935       2      6    88    0  30.0      0      0            0
44          936       1      6   212    0  45.0      1      0            1
45          937       3      5   300    1  25.0      0      0            0
46          938       1      5    72    1  45.0      0      0            0
47          939       3      5   345    1   0.0      0      0            0
48          940       1      6    53    0  60.0      0      0            0
49          941       3      6    92    0  36.0      0      2            2

    Ticket  Fare  Cabin  Deck  Embarked
0      152     8     76     7         1
1      221     7     76     7         2
2       73    10     76     7         1
3      147     9     76     7         2
4      138    12     76     7         2
5      261     9     76     7         2
6      158     8     76     7         1
7       84    29     76     7         2
8      100     7     76     7         0
9      269    24     76     7         2
10     195     8     76     7         2
11     259    26     76     7         2
12      52    82     12     1         2
13      74    26     76     7         2
14     362    61     60     4         2
15     343    28     76     7         0
16      60    12     76     7         1
17     119     7     76     7         0
18     356     8     76     7         2
19     120     7     76     7         0
20     316    59     76     7         0
21     277     3     76     7         2
22     314    32     76     7         2
23     313    61     76     7         0
24     319   262     15     1         0
25     273    14     76     7         2
26      14    62     10     1         0
27     121     7     76     7         0
28      11    30      2     0         2
29     104    22     76     7         0
30     338    26     76     7         2
31     283    32     76     7         2
32     280    21     76     7         2
33     360    23     76     7         2
34      34    58     41     2         0
35     115     7     76     7         0
36     166     8     76     7         2
37     141     9     76     7         2
38     172    10     76     7         2
39      39    56     76     7         2
40     204    13     76     7         0
41      16    27     55     3         2
42     347     8     76     7         2
43      65    13     76     7         2
44      24    53     50     3         2
45     355     8     76     7         2
46     312    30      5     0         0
47     243     8     76     7         1
48      30    76     49     3         0
49     290    16     76     7         2

Test set prediction:  [0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0
 1 1 0 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0
 0 0 1 0 1 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 0
 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 0
 0 0 0 0 0 1 1 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 1 0 0 0
 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 1 0 1 1 1 0 0 1 0 1 1 0 0 0 1 0 0 0 0 0 1
 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 1 0 0 0
 0 1 1 0 1 0 1 0 0 0 1 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 1 0 1 0
 1 0 1 1 1 0 0 1 0 1 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0 1 1 1 1 1 1 0 0
 1 0 0 0 1 0 0 0 0 0 0]

In [39]:
from sklearn.neighbors import KNeighborsClassifier 
clf = KNeighborsClassifier(n_neighbors=2)
clf.fit(X_train , y_train)
print('Train set accuracy: {:.2f}'.format(clf.score(X_train, y_train)))

# prediction = clf.predict(X_test)
# print('\nTest set prediction:\n', prediction)
print('Test set accuracy: {:.2f}'.format(clf.score(X_test, y_test)))

Train set accuracy: 0.81
Test set accuracy: 0.55

In [43]:
from sklearn.ensemble import RandomForestClassifier
SrchRFC = RandomForestClassifier(max_depth = 5, min_samples_split = 4, n_estimators = 500, 
                                 random_state = 20, n_jobs = -1)
SrchRFC.fit(X_train, y_train) 
print('Train set accuracy: {:.2f}'.format(SrchRFC.score(X_train, y_train)))
print('Test set accuracy: {:.2f}'.format(SrchRFC.score(X_test, y_test)))

Train set accuracy: 0.87
Test set accuracy: 0.86